@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  margin-top: 9rem;
  margin-bottom: 9rem;
  background-color: #fff;
  padding: 2rem;
  display: grid;
  place-content: center;
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 19px 19px 28px #a740ca8f,
    -19px -19px 28px #D8AFE6;
}

.countState {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.state {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  opacity: .7;
}

.count {
  text-align: center;
  font-weight: bolder;
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
  color: #4517CF;
}

.buttonSet {
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

button {
  display: grid;
  place-content: center;
  padding: 7px;
}